.schedule {
  ul {
    list-style: none;
  }
}

.calendar-toggle-list {
  list-style: none;
}

.calendar-toggle {
  &::before {
    content: '';
    display: inline-block;
    width: .5em;
    height: .5em;
    vertical-align: middle;
    margin-right: .5em;
    background-color: #aaa;
  }
}

@for $i from 1 through length($calendar_colors) {
  .calendar-toggle__color#{$i - 1}::before {
    background-color: nth($calendar_colors, $i);
  }
}

.hide-past-toggle {
  display: flex;
  font-weight: inherit;
  user-select: none;

  input {
    margin: 0 .5rem 0 0;
  }
}

.hide-past {
  .day__past {
    display: none;
  }
}
