body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 1rem;

  > * {
    flex: 1;
  }
}

main {
  > * {
    padding: 2em;
  }

  > header {
    margin-bottom: 1rem;
    border-bottom: 1px solid #dfe0e4;
  }

  > footer {
    margin-top: 1rem;
    border-top: 1px solid #dfe0e4;
  }
}

@media screen and (min-width: 40.0rem) {
  body {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 4rem;
  }

  body > header {
    flex: 0 0 20rem;
    margin-right: 2rem;
  }
}