body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 1rem;

  > * {
    flex: 1;
  }
}

body > header {
  text-align: center;
}

main {
  padding: .25rem 0;
  background-color: #fdfffe;

  > * {
    padding: 1em 2em;
  }

  > header {
    margin-bottom: 1rem;
    border-bottom: 1px solid #dfe0e4;
  }

  > footer {
    margin-top: 1rem;
    border-top: 1px solid #dfe0e4;
  }
}

@media screen and (min-width: 769px) {
  body {
    flex-direction: row;
    justify-content: space-between;
    margin: 4rem;
  }

  body > header {
    flex: 0 0 10rem;
    margin-right: 1rem;
  }

  body > main {
    box-shadow: 0 0 1.5rem rgba(0,0,0,.25);
  }
}