table {
  form,
  input,
  .button {
    margin: 0;
  }

  form {
    display: inline-block;
  }
}

th {
  font-size: .8em;
  font-weight: inherit;
  text-transform: uppercase;

  &:empty {
    width: 1rem;
  }
}

.table-actions {
  text-align: right;
}
